.user-form label {
  padding-bottom: 4px;
  font-weight: 700;
}

.user-form__control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.user-form input {
  border: 1px solid rgb(193, 191, 191);
}

@media (min-width: 768px) {
  .user-form {
    width: 500px;
  }
}
